<h1>Add a Word</h1>

<p>Add a Word here:</p>

<form action="/words/new" method="post">
  <label for="wordInput">Enter Word Here</label>
  <input id="wordInput" name="wordInput" type="text">

  
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
