<h1>Add a defintion to $word.getTheWord()</h1>

<form action="/defintions" method="post">
  <input id="mId" name="mId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Definition</button>
</form>
